@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> <center>Bienvenido al Sistema de Gestión</center></h2>

<div class="text-center mt-5">
    <!-- Logo -->
    <img src="~/Content/Imagenes/LOGO.png" alt="Logo" class="img-fluid mb-4" style="max-width: 800px;" />

    <!-- Título -->
    <div class="jumbotron">

        <p class="lead">
            Este es tu sistema de gestión de Inventario para el departamento de sistemas.
        </p>
        <p>

        </p>
    </div>
